// COLORS
$primary-color: #009388;
$secondary-color: #00D0C1;

$white-color: #030706;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
